.navbar {
  background-color: #0a3e43;
}

.jumbotron img {
  width: 190px;
  border: 2px solid #0a3e43;
}

.jumbotron {
  background-image: url("img/bg1.png");
  background-size: cover;
  background-position: 0 -150px;
  padding-top: 50px;
  padding-bottom: 250px;
  background-attachment: fixed;
}

.about {
  background-color: #0d4a4f;
  color: white;
}

.header,
.nav-link {
  font-family: "viga";
}

.card {
  width: 20rem;
}

.img1:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img2:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img3:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img4:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img5:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img6:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img7:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img8:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.img9:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 7px 5px grey;
}

.sosmed {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

.sosmed .fb,
.ig,
.gh {
  color: #eaeaea;
  width: 50px;
  margin: 10px;
}

.sosmed .fb:hover {
  color: #3b5999;
}

.sosmed .ig:hover {
  color: #e1306c;
}

.sosmed .gh:hover {
  color: #333;
}

.contact {
  background-color: #0d4a4f;
  color: white;
}

.btn {
  border: 1px solid #fff;
  color: #fff;
}

.btn:hover {
  background-color: #0a3e43;
  color: lightgrey;
}

.nama_footer {
  text-decoration: none;
  color: white;
}

.nama_footer:hover {
  color: lightgrey;
}

@media screen and (min-width: 992px) {
  .nama {
    position: relative;
    font-size: 4vw;
    text-transform: uppercase;
  }

  .nama::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 597px;
    width: 0;
    height: 100%;
    color: #0d4a4f;
    border-right: 2px solid #0d4a4f;
    overflow: hidden;
    animation: animate 3s linear infinite;
  }

  @keyframes animate {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 12%;
    }
  }
}

footer {
  background-color: #0a3e43;
  color: white;
}

.love {
  color: red;
}

@media screen and (max-width: 768px) {
  .about-content {
    margin: 0 15px;
  }

  .gambar {
    margin-left: 0 10em;
  }

  .card {
    width: 15rem;
    margin-left: 10em;
  }
}

@media screen and (min-width: 300px) {
  .card {
    width: 15rem;
    margin-left: 5em;
  }

  .contact {
    padding: 0 2em;
  }
}
